.button-primary, .button-secondary {
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
    box-shadow: 1px 1px 2px #333;
    outline: none;
}
.button-primary:active {
    color: #000;
    background: linear-gradient(0rad, #bbb 0%, #eee 100%);
    box-shadow: 1px 1px 2px inset #666;
}
.button-primary {
    border-color: #ccc;
    background: linear-gradient(0rad, #ccc 0%, #f0f0f0 100%);
}
.button-secondary {
    color: #fff;
    border-color: #7c7c7c;
    background: linear-gradient(0rad, #b36b00 0%, #ffbd5b 100%);
}
.button-secondary:active {
    color: #eee;
    background: linear-gradient(0rad, #8f5600 0%, #ffb23f 100%);
    box-shadow: 1px 1px 2px inset #666;
}
