.message-block {
    margin: 0 6px;
    padding: 4px 6px;
    background-color: #ffeaea;
    border-radius: 0 0 4px 4px;
}
.message-text {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    color: #d32d2d;
    line-height: 1;
}
