.footer {
    border: 1px solid #c00;
    &__media {
        border: 1px solid #c00;
        display: flex;
        justify-content: center;
        padding: 8px 0;
        &__menu {
            border: 1px solid #c00;
            display: flex;
            li {
                border: 1px solid #c00;
                list-style: none;
                a {
                    border: 1px solid #c00;
                    display: block;
                    line-height: 1;
                }
                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
    }
    &__container {
        border: 1px solid #c00;
        display: flex;
        justify-content: space-evenly;
        padding: 16px 8px;
        &__column {
            &__header {
                text-transform: uppercase;
                text-shadow: 1px 1px 2px #666;
                border-bottom: 2px solid #ccc;
                margin-bottom: 16px;
                padding: 0 4px;
            }
            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    a {
                        display: block;
                        text-decoration: none;
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}