.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    height: 56px;
    box-shadow: 0 1px 4px #aaa;
    background: linear-gradient(0rad, #eee 0%, #fff 100%);
    &__nav-logo {
        border: 1px solid #aaa;
        width: 40px;
        height: 40px;
    }
    &__nav-menu {
        display: flex;
        li {
            list-style: none;
            a {
                display: block;
                text-decoration: none;
                padding: 6px 10px;
                border-bottom: 1px solid transparent;
                color: #333;
                font-size: 16px;
                &:active, &:hover {
                    border-color: #aaa;
                    text-shadow: 1px 1px 2px #7c7c7c;
                }
            }
            &:not(:first-child) {
                margin-left: 4px;
            }
        }
    }
    &__nav-control {
        
    }
}