.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px 0 8px;
    border-bottom: 0;
    background-color: #0d5c66;
    &__nav-logo {
        width: auto;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__logo-link {
            display: block;
            font-family: 'Candara';
            font-size: 32px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 2px #ff5252;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    &__nav-menu {
        display: flex;
        align-items: center;
        li {
            list-style: none;
            &:not(:last-child) {
                margin-right: 14px;
            }
        }
        .menu-link {
            position: relative;
            display: block;
            font-family: 'Tahoma';
            font-size: 18px;
            color: #eee;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 10px;
            border-top-right-radius: 10px;
            &::before, &::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                bottom: 0;
                width: 10px;
                height: 100%;
                transform: skew(10deg);
                cursor: pointer;
            }
            &::before {
                left: -5px;
                border-top-left-radius: 10px;
            }
            &::after {
                right: -5px;
                border-top-right-radius: 10px;
            }
            &:active, &:active::before, &:active::after,
            &:hover, &:hover::before, &:hover::after {
                background-color: #e7e425;
                text-decoration: underline;
                color: #333;
            }
        }
    }
    &__nav-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}